@import "../../../variables.scss";
.types {
    background-color: #fff;
    border-radius: 22px;
    padding: 20px;
    &__list {
        display: flex;
        flex-direction: column;
        &__title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        &__item {
            cursor: pointer;
            padding: 10px 0;
            font-size: 17px;
            &_active {
                color: $blc;
                font-weight: bold;
            }
        }
    }
}
