@import "../../../variables.scss";
.brands {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 10px;
    overflow-y: scroll;
    max-height: 70px;
    border-radius: 22px;
    &::-webkit-scrollbar {
        max-width: 5px;
        max-height: 11px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $blc;
        border-radius: 22px;
    }
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &__item {
            margin-right: 20px;
            border: 1px solid $blc;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            border-radius: 9999px;
            cursor: pointer;
            margin-bottom: 10px;
            &_active {
                background-color: $lightBlack;
                font-weight: bold;
            }
        }
    }
}
